:root {
  --bar-margin: 5px; /* This is the margin-right & margin-left the "Command" button & "Create Command" button have */
  --bar-margin-alternative: auto; /* This is the margin-left & margin-right the "Command" button & "Create Command" button have */
  --round-intense: 10px;
  --round-strong: 4px;
  --round-mild: 3px;
  --round-off: 1px;
  --round-slight: 3px;
  --round-normal: 3px;
  --toolbar-roundness: 8px;

  --secondary-main: #363636;
  --secondary-hover: #2e2e2e;
  --secondary-active: #3f3f3f;
  --secondary-selected: #3f3f3f;

  --strong: #756ebbd1;
  --strong-main: #1d1d1d00;
  --strong-hover: #1e1e1e;
  --strong-active: #363636;

  --main-background: #141414;

  --main-color: #181818;
  --hover-color: #0b0b0b;
  --active-color: #000000;

  --dark-main: #36365700;
  --dark-hover: #ffffff15;
  --dark-active: #ffffff;
  --dark-strong: #ffffff13;

  --text: #ffffffd7;

  --parameter-editor-pane-height: calc(94.5% + 18px);
  
  --window-background: #3b3b3b;
  --editor-background: #121212;
  }

.editor_toolbar {
  background-color: unset !important;
}

.toolbar {
  background-color: unset !important;
  background: rgba(107, 107, 107, 0.158)important;
}

.editor_content {
  box-shadow: inset 0 0 5px #000000b7;
  background: #181818;
}

.dropdown {
  background: var(--secondary-main);
  transition: all 0.05s ease, width 0.3s ease !important;
  border-bottom: solid 2px #756ebbd1;
}
.dropdown:hover {
  background: #131313;
}
.dropdown:active {
  background: var(--secondary-active);
}

btn {
  cursor: var(--pointer);
  transition: all var(--ease-strong) var(--reallyFast);
  position: initial;
  width: auto;
  padding: 5px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: var(--round-intense);
  box-shadow: inset 0 0 2px #00000000 !important;
  display: block;
  backdrop-filter: blur(12px);
}

.outlined {
  outline: #ffffff00;
}

btn:hover {
  background: var(--secondary-selected);
}
btn:active {
  transform: translateY(2px);
  background: var(--secondary-active);
}

.dropdown:active {
  transform: translateY(2px);
}

.folderContainer > .action {
  background: linear-gradient(#1e1e1e00, rgba(0, 0, 0, 0));
}

.folderContainer {
  width: calc(100% - 5px) !important;
  border-left: 3px solid var(--strong);
  transition: all var(--commonAnimation) var(--ease-strong) !important;
}

input {
  background: #363636;
}

.largeBox > .action {
  background: #363636;
}

.action {
  background-color: #1e1e1e;
}

.option {
  margin-left: 3px;
  padding: 2px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  z-index: 1100;
  -webkit-app-region: no-drag;
  margin-top: auto;
  margin-bottom: auto;
  height: 16px;
  border-radius: 5px
}

.dimension {
  box-shadow: #ffffff10;
}

.listContainer > .action {
  width: calc(100% - 17px) !important;
  margin-top: 2.5px;
  margin-bottom: 6px;
}
