:root {
  --bar-margin: 3.5px; /* This is the margin-right & margin-left the "Command" button & "Create Command" button have */
  --bar-margin-alternative: auto; /* This is the margin-left & margin-right the "Command" button & "Create Command" button have */
  --round-intense: 7px;
  --round-strong: 10px;
  --round-mild: 4px;
  --round-off: 1px;
  --round-slight: 5px;
  --round-normal: 5px;
  --toolbar-roundness: 12px;

  --secondary-main: #171717;
  --secondary-hover: #460f1f;
  --secondary-active: #000000;
  --secondary-selected: #330a16;

  --strong: #141414;
  --strong-main: #1d1d1d;
  --strong-hover: #1e1e1e;
  --strong-active: #000000;

  --main-background: #000000;

  --main-color: #131313;
  --hover-color: #0b0b0b;
  --active-color: #000000;

  --dark-main: #ffffff05;
  --dark-hover: #ffffff15;
  --dark-active: #ffffff10;
  --dark-strong: #ffffff13;

  --text: #ffffff95;

  --toolbar-height: 45px;
  --toolbar-margin-side: 2px; /* Only applies to first button of toolbar */
  --toolbar-margin-side-larger: 3px; /* Only applies to last button of toolbar */

  --parameter-editor-pane-height: calc(94.5% + 18px);
}

.editor_toolbar {
  background-color: unset !important;
}

.toolbar {
  background-color: unset !important;
  background: #ffffff12 !important;
}

.editor_content {
  box-shadow: inset 0 0 5px #000000;
}

.dropdown {
  background: var(--secondary-main);
  transition: all 0.05s ease, width 0.3s ease !important;
}
.dropdown:hover {
  background: #131313;
}
.dropdown:active {
  background: var(--secondary-active);
}

btn {
  box-shadow: #000000 0 0 4px !important;
}

.buttonshift {
  box-shadow: #000000 0 0 4px !important;
}

btn:hover {
  background: var(--secondary-selected);
}
btn:active {
  transform: translateY(2px);
  background: var(--secondary-active);
}

.dropdown:active {
  transform: translateY(2px);
}

.folderContainer > .action {
  background: linear-gradient(#0c0c0c, #000000);
}

.folderHandle {
  background: linear-gradient(#16040a, #160309)
}

input {
  background: #131313;
}